In [1]:
from sklearn.linear_model import Lasso, LassoCV, Ridge, RidgeCV, LinearRegression
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from math import sqrt

data 불러오기

In [2]:
train = pd.read_csv("bike_demand_train.csv")

In [3]:
test = pd.read_csv("bike_demand_test.csv")

In [5]:
train.columns

Index(['rent_place_num', 'rent_time', 'holder', 'rent_freq', 'bef_1', 'bef_2',
       'bef_3', 'bef_4'],
      dtype='object')

In [6]:
train.head()

,rent_place_num,rent_time,holder,rent_freq,bef_1,bef_2,bef_3,bef_4
0,101,2017-06-01 00,5,2.0,2.0,2.0,1.0,2.0
1,101,2017-06-01 01,5,0.0,2.0,2.0,2.0,1.0
2,101,2017-06-01 02,5,0.0,0.0,2.0,2.0,2.0
3,101,2017-06-01 03,5,1.0,0.0,0.0,2.0,2.0
4,101,2017-06-01 04,5,0.0,1.0,0.0,0.0,2.0

In [18]:
test.isna().any()

rent_place_num    False
rent_time         False
holder            False
rent_freq         False
bef_1             False
bef_2             False
bef_3             False
bef_4             False
dtype: bool

In [4]:
trainX = train[train.columns.difference(['rent_place_num','rent_time','rent_freq','holder'])]
trainY = train['rent_freq']

In [5]:
testX = test[test.columns.difference(['rent_place_num','rent_time','rent_freq','holder'])]
testY = test['rent_freq']

In [11]:
len(train.columns.difference(['rent_place_num']))

78

LASSO

In [ ]:
## 적합한 alpha값 찾기

In [42]:
lasso_reg = LassoCV(cv=10, random_state=123) # alpha : 정규화 상수
lasso_reg.fit(trainX, trainY)
lasso_reg_testY = lasso_reg.predict(testX)

sqrt(mean_squared_error(lasso_reg_testY, testY))

1.7787562349361705

In [57]:
np.log1p(trainX)

             bef_1     bef_2     bef_3     bef_4
0         1.098612  1.098612  0.693147  1.098612
1         1.098612  1.098612  1.098612  0.693147
2         0.000000  1.098612  1.098612  1.098612
3         0.000000  0.000000  1.098612  1.098612
4         0.693147  0.000000  0.000000  1.098612
5         0.000000  0.693147  0.000000  0.000000
6         0.000000  0.000000  0.693147  0.000000
7         0.693147  0.000000  0.000000  0.693147
8         0.693147  0.693147  0.000000  0.000000
9         0.000000  0.693147  0.693147  0.000000
10        0.693147  0.000000  0.693147  0.693147
11        0.000000  0.693147  0.000000  0.693147
12        0.000000  0.000000  0.693147  0.000000
13        0.000000  0.000000  0.000000  0.693147
14        0.000000  0.000000  0.000000  0.000000
15        0.693147  0.000000  0.000000  0.000000
16        0.000000  0.693147  0.000000  0.000000
17        0.693147  0.000000  0.693147  0.000000
18        0.693147  0.693147  0.000000  0.693147
19        0.693147  0.693147  0.693147  0.000000
20        0.000000  0.693147  0.693147  0.693147
21        1.098612  0.000000  0.693147  0.693147
22        0.000000  1.098612  0.000000  0.693147
23        0.000000  0.000000  1.098612  0.000000
24        0.693147  0.000000  0.000000  1.098612
25        0.000000  0.693147  0.000000  0.000000
26        0.693147  0.000000  0.693147  0.000000
27        0.693147  0.693147  0.000000  0.693147
28        0.000000  0.693147  0.693147  0.000000
29        0.000000  0.000000  0.693147  0.693147
...            ...       ...       ...       ...
11116410  1.098612  1.609438  1.098612  0.000000
11116411  0.693147  1.098612  1.609438  1.098612
11116412  0.000000  0.693147  1.098612  1.609438
11116413  0.000000  0.000000  0.693147  1.098612
11116414  1.609438  0.000000  0.000000  0.693147
11116415  0.000000  1.609438  0.000000  0.000000
11116416  0.000000  0.000000  1.609438  0.000000
11116417  0.000000  0.000000  0.000000  1.609438
11116418  0.000000  0.000000  0.000000  0.000000
11116419  0.000000  0.000000  0.000000  0.000000
11116420  0.000000  0.000000  0.000000  0.000000
11116421  0.000000  0.000000  0.000000  0.000000
11116422  0.000000  0.000000  0.000000  0.000000
11116423  0.000000  0.000000  0.000000  0.000000
11116424  0.000000  0.000000  0.000000  0.000000
11116425  0.000000  0.000000  0.000000  0.000000
11116426  0.693147  0.000000  0.000000  0.000000
11116427  0.000000  0.693147  0.000000  0.000000
11116428  0.693147  0.000000  0.693147  0.000000
11116429  0.693147  0.693147  0.000000  0.693147
11116430  0.000000  0.693147  0.693147  0.000000
11116431  0.693147  0.000000  0.693147  0.693147
11116432  0.693147  0.693147  0.000000  0.693147
11116433  1.386294  0.693147  0.693147  0.000000
11116434  0.000000  1.386294  0.693147  0.693147
11116435  0.693147  0.000000  1.386294  0.693147
11116436  0.693147  0.693147  0.000000  1.386294
11116437  0.693147  0.693147  0.693147  0.000000
11116438  0.000000  0.693147  0.693147  0.693147
11116439  0.693147  0.000000  0.693147  0.693147

[11116440 rows x 4 columns]

In [72]:
#lasso_result = pd.DataFrame(testY)
#lasso_alphas = []
lasso_coefs = pd.DataFrame()
for i in range(0,10):
    lasso_reg = LassoCV(cv=10, random_state=i, selection='random')
    lasso_reg.fit(trainX, trainY)
    lasso_reg_testY = lasso_reg.predict(testX)
    #lasso_result = pd.concat([lasso_result, pd.DataFrame(lasso_reg_testY)], axis=1)
    #lasso_alphas.append(lasso_reg.alpha_)
    lasso_coefs = pd.concat([lasso_coefs, pd.DataFrame(lasso_reg.coef_)], axis=1)

In [10]:
lasso_log_result = pd.DataFrame(testY)
lasso_log_alphas = []
lasso_log_coefs = pd.DataFrame()
for i in range(0,10):
    lasso_log_reg = LassoCV(cv=10, random_state=i, selection='random')
    lasso_log_reg.fit(np.log1p(trainX), np.log1p(trainY))
    lasso_log_reg_testY = np.expm1(lasso_log_reg.predict(np.log1p(testX)))
    lasso_log_result = pd.concat([lasso_log_result, pd.DataFrame(lasso_log_reg_testY)], axis=1)
    lasso_log_alphas.append(lasso_log_reg.alpha_)
    lasso_log_coefs = pd.concat([lasso_log_coefs, pd.DataFrame(lasso_log_reg.coef_)], axis=1)

In [73]:
lasso_result.head()

,rent_freq,0,0,0,0,0,0,0,0,0,0
0,1.0,2.588204,2.587997,2.588112,2.588014,2.587981,2.589519,2.589006,2.588052,2.587986,2.587970
1,3.0,1.792988,1.793001,1.793009,1.793048,1.793120,1.792720,1.793001,1.793084,1.792987,1.793065
2,2.0,2.099941,2.100038,2.099905,2.099967,2.099950,2.099608,2.099618,2.099863,2.100067,2.099958
3,1.0,1.701920,1.701870,1.701875,1.701850,1.701822,1.702355,1.702131,1.701829,1.701877,1.701827
4,0.0,1.274781,1.274754,1.274779,1.274775,1.274794,1.274890,1.274915,1.274796,1.274746,1.274774

In [76]:
lasso_alphas

[0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275,
 0.0012372103931348275]

In [78]:
lasso_log_alphas

[0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846,
 0.00013763519994974846]

In [79]:
lasso_result.to_csv("lasso_예측값.csv")
lasso_coefs.to_csv("lasso_계수.csv")

In [80]:
lasso_log_result.to_csv("lasso_log_예측값.csv")
lasso_log_coefs.to_csv("lasso_log_계수.csv")

In [81]:
lasso_coef = pd.concat([pd.DataFrame(trainX.columns), pd.DataFrame(lasso_reg.coef_)],axis=1)

In [82]:
lasso_coef.columns= ['name', 'num']

In [83]:
lasso_coef['absnum'] = abs(lasso_coef['num'])

In [84]:
lasso_coef.sort_values(by='absnum', ascending=False)

    name       num    absnum
0  bef_1  0.397933  0.397933
1  bef_2  0.183053  0.183053
2  bef_3  0.103269  0.103269
3  bef_4  0.052607  0.052607

In [86]:
from sklearn.metrics import mean_squared_error
from math import sqrt
sqrt(mean_squared_error(lasso_reg_testY, testY))

1.90271675965363

RIDGE REGRESSION

In [97]:
lasso_reg.alphas_

array([1.23721039e+00, 1.15382655e+00, 1.07606251e+00, 1.00353949e+00,
       9.35904291e-01, 8.72827474e-01, 8.14001824e-01, 7.59140825e-01,
       7.07977274e-01, 6.60261975e-01, 6.15762528e-01, 5.74262195e-01,
       5.35558845e-01, 4.99463971e-01, 4.65801771e-01, 4.34408291e-01,
       4.05130626e-01, 3.77826177e-01, 3.52361958e-01, 3.28613941e-01,
       3.06466461e-01, 2.85811647e-01, 2.66548899e-01, 2.48584395e-01,
       2.31830639e-01, 2.16206030e-01, 2.01634467e-01, 1.88044979e-01,
       1.75371377e-01, 1.63551933e-01, 1.52529080e-01, 1.42249130e-01,
       1.32662015e-01, 1.23721039e-01, 1.15382655e-01, 1.07606251e-01,
       1.00353949e-01, 9.35904291e-02, 8.72827474e-02, 8.14001824e-02,
       7.59140825e-02, 7.07977274e-02, 6.60261975e-02, 6.15762528e-02,
       5.74262195e-02, 5.35558845e-02, 4.99463971e-02, 4.65801771e-02,
       4.34408291e-02, 4.05130626e-02, 3.77826177e-02, 3.52361958e-02,
       3.28613941e-02, 3.06466461e-02, 2.85811647e-02, 2.66548899e-02,
       2.48584395e-02, 2.31830639e-02, 2.16206030e-02, 2.01634467e-02,
       1.88044979e-02, 1.75371377e-02, 1.63551933e-02, 1.52529080e-02,
       1.42249130e-02, 1.32662015e-02, 1.23721039e-02, 1.15382655e-02,
       1.07606251e-02, 1.00353949e-02, 9.35904291e-03, 8.72827474e-03,
       8.14001824e-03, 7.59140825e-03, 7.07977274e-03, 6.60261975e-03,
       6.15762528e-03, 5.74262195e-03, 5.35558845e-03, 4.99463971e-03,
       4.65801771e-03, 4.34408291e-03, 4.05130626e-03, 3.77826177e-03,
       3.52361958e-03, 3.28613941e-03, 3.06466461e-03, 2.85811647e-03,
       2.66548899e-03, 2.48584395e-03, 2.31830639e-03, 2.16206030e-03,
       2.01634467e-03, 1.88044979e-03, 1.75371377e-03, 1.63551933e-03,
       1.52529080e-03, 1.42249130e-03, 1.32662015e-03, 1.23721039e-03])

In [25]:
ridge_reg_cv = RidgeCV(cv=10, alphas=lasso_log_reg.alphas_)
ridge_reg_cv.fit(trainX, trainY)
ridge_reg_cv_testY = ridge_reg.predict(testX)
sqrt(mean_squared_error(ridge_reg_cv_testY, testY))

NameError: name 'ridge_reg' is not defined

In [22]:
ridge_reg_cv.alpha

NameError: name 'ridge_reg' is not defined

In [92]:
ridge_reg_cv = RidgeCV(cv=10)
ridge_reg_cv.fit(trainX, trainY)
ridge_reg_cv_testY = ridge_reg_cv.predict(testX)
sqrt(mean_squared_error(ridge_reg_cv_testY, testY))

1.7787441782988394

In [105]:
ridge_result = pd.DataFrame(testY)
ridge_coefs = pd.DataFrame()
for i in range(0,10):
    ridge_reg = Ridge(alpha=ridge_reg_cv.alpha, random_state=i, solver='sag')
    ridge_reg.fit(trainX, trainY)
    ridge_reg_testY = ridge_reg.predict(testX)
    ridge_result = pd.concat([ridge_result, pd.DataFrame(ridge_reg_testY)], axis=1)
    ridge_coefs = pd.concat([ridge_coefs, pd.DataFrame(ridge_reg.coef_)], axis=1)

RIDGE log 변환

In [15]:
ridge_log_reg_cv = RidgeCV(cv=10, alphas=lasso_log_reg.alphas_)
ridge_log_reg_cv.fit(np.log1p(trainX), np.log1p(trainY))
ridge_log_reg_cv_testY = np.expm1(ridge_log_reg_cv.predict(np.log1p(testX)))
sqrt(mean_squared_error(ridge_log_reg_testY, testY))

1.9021919441801662

In [21]:
ridge_reg_cv.alpha_

NameError: name 'ridge_reg_cv' is not defined

In [17]:
ridge_log_result = pd.DataFrame(testY)
ridge_log_coefs = pd.DataFrame()
for i in range(0,10):
    ridge_log_reg = Ridge(alpha=ridge_log_reg_cv.alpha_, random_state=i, solver='sag')
    ridge_log_reg.fit(np.log1p(trainX), np.log1p(trainY))
    ridge_log_reg_testY = np.expm1(ridge_log_reg.predict(np.log1p(testX)))
    ridge_log_result = pd.concat([ridge_log_result, pd.DataFrame(ridge_log_reg_testY)], axis=1)
    ridge_log_coefs = pd.concat([ridge_log_coefs, pd.DataFrame(ridge_log_reg.coef_)], axis=1)

In [113]:
ridge_result.head()

,rent_freq,0,0,0,0,0,0,0,0,0,0
0,1.0,2.590737,2.589924,2.591320,2.588829,2.589218,2.591989,2.590519,2.591005,2.591054,2.587085
1,3.0,1.796397,1.795195,1.795406,1.794196,1.794108,1.797239,1.795954,1.796057,1.795439,1.794096
2,2.0,2.102431,2.102688,2.102755,2.101302,2.102203,2.102831,2.104102,2.101767,2.102561,2.100774
3,1.0,1.703182,1.703099,1.703601,1.702410,1.702714,1.703652,1.703604,1.703127,1.703534,1.701495
4,0.0,1.276224,1.275685,1.275940,1.275240,1.275146,1.276667,1.275950,1.276167,1.275990,1.274893

In [116]:
ridge_log_result.head()

,rent_freq,0,0,0,0,0,0,0,0,0,0
0,1.0,1.906520,1.905998,1.907297,1.905952,1.906642,1.907229,1.908140,1.908107,1.906239,1.906470
1,3.0,1.422510,1.422291,1.423162,1.423618,1.422726,1.422592,1.423504,1.424119,1.422325,1.422736
2,2.0,1.680045,1.678854,1.679776,1.679946,1.679791,1.679376,1.680974,1.680878,1.679464,1.679999
3,1.0,1.427333,1.426608,1.427468,1.426511,1.427124,1.427435,1.428373,1.427981,1.426962,1.427248
4,0.0,1.099494,1.099370,1.099878,1.099869,1.099680,1.099682,1.100082,1.100402,1.099420,1.099544

In [109]:
ridge_result.to_csv("ridge_예측값.csv")
ridge_coefs.to_csv("ridge_계수.csv")

In [18]:
ridge_log_result.to_csv("ridge_log_예측값.csv")
ridge_log_coefs.to_csv("ridge_log_계수.csv")

In [112]:
sqrt(mean_squared_error(ridge_log_reg_testY, testY))

1.7787727610627506

In [84]:
ridge_reg.fit(trainX, trainY)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [85]:
ridge_reg_testY = ridge_reg.predict(testX)

In [ ]:
data_colname = pd.DataFrame(trainX.columns)
ridge_coef = pd.DataFrame(ridge_reg.coef_)

In [ ]:
ridge_coef = pd.concat([data_colname, ridge_coef],axis=1)
ridge_coef.columns= ['name', 'num']
ridge_coef['absnum'] = abs(lasso_coef['num'])

lasso_coef.sort_values(by='absnum', ascending=False)

In [86]:
ridge_reg.coef_

array([ 5.74753265e-01, -5.03981674e-02,  2.17208408e+00,  6.46609268e+00,
       -1.04978498e-03,  3.90879219e-02, -8.06181009e-02, -1.84242826e+01,
        2.01355805e-01, -6.37591391e-03,  9.54514092e-02, -5.95704267e-03,
       -1.90731801e-01, -6.22410125e-02, -3.08123845e-01,  8.64549313e-02,
        6.16359211e-02, -1.48484586e-01,  7.70424311e-01, -1.58667089e-01,
        5.23508550e-03, -3.06673392e-01,  1.34718281e-01, -3.18316005e+01,
        0.00000000e+00, -5.84167715e-02, -2.02910102e-01,  3.90671438e-02,
        1.81342541e-01,  8.20669593e-03,  1.12983287e-01,  9.69087518e-03,
        2.57386635e-01, -5.77054581e-01, -1.25380388e-02,  3.38758447e-02,
       -7.23935757e-02, -2.41842545e-01, -3.18160516e+01, -8.78157517e-02,
       -2.04267473e-02, -5.55053780e-01, -3.18463150e+01, -8.60583589e-01,
       -4.39009089e-01, -2.08200312e-01,  0.00000000e+00, -1.46160287e-02,
       -3.18460724e+01, -3.17902070e+01, -9.34023724e+00, -9.52556904e+00,
       -9.72017709e+00, -9.78576178e+00, -9.73211033e+00, -9.72291844e+00,
       -9.62695670e+00, -9.49834980e+00, -9.25388110e+00, -8.90678782e+00,
       -8.15492517e+00, -8.36701980e+00, -9.72105328e+00, -8.56074081e+00,
       -8.48012504e+00, -8.58980746e+00, -9.09244971e+00, -9.85668236e+00,
       -9.92114758e+00, -9.89507576e+00, -9.75389898e+00, -9.26398104e+00,
       -8.63842317e+00, -9.35239266e+00, -3.18119946e+01, -3.18182386e+01])

ARIMA

https://byeongkijeong.github.io/ARIMA-with-Python/

In [0]:
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

plot_acf() # 자기상관함수 - 구간 밖에 있는 점 개수 = AR 계수
plot_pacf(series) # 부분자기함수 - 구간 밖에 있는 점 개수 = MA 계수
plt.show()

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

diff_1=series.diff(periods=1).iloc[1:] # 만약 stationary time-series data가 아니라면 차분(diff)해주기
diff_1.plot()
plot_acf(diff_1)
plot_pacf(diff_1)
plt.show()

In [0]:
from statsmodels.tsa.arima_model import ARIMA

model = ARIMA(series, order=(0,1,1)) # 위의 두 코드 보고 order 설정 (p,d,q) : p=AR, d=diff, q=MA
model_fit = model.fit(trend='c',full_output=True, disp=1)
print(model_fit.summary())

In [0]:
from statsmodels.tsa.arima_model import ARIMA

model = ARIMA(series, order=(0,1,1)) # P-value가 0.05 수준에서 유효하지 않으면 조절해야 함
model_fit = model.fit(trend='nc',full_output=True, disp=1) # 위에서 모형의 constant가 유효하지 않다면 non-constant로 바꿔줘야 함
print(model_fit.summary())

In [0]:
model_fit.plot_predict()
fore = model_fit.forecast(steps=1)
print(fore)

light gbm

In [0]:
import lightgbm

ModuleNotFoundError: ignored

In [0]:
train = pd.read_csv('../input/train.csv')

# get the labels
y = train.target.values
train.drop(['id', 'target'], inplace=True, axis=1)

x = train.values

# Create the LightGBM data containers

categorical_features = [c for c, col in enumerate(train.columns) if 'cat' in col]
train_data = lightgbm.Dataset(x, label=y, categorical_feature=categorical_features)
test_data = lightgbm.Dataset(x_test, label=y_test)

parameters = {
    'application': 'binary',
    'objective': 'binary',
    'metric': 'auc',
    'is_unbalance': 'true',
    'boosting': 'gbdt',
    'num_leaves': 31,
    'feature_fraction': 0.5,
    'bagging_fraction': 0.5,
    'bagging_freq': 20,
    'learning_rate': 0.05,
    'verbose': 0
}

model = lightgbm.train(parameters,
                       train_data,
                       valid_sets=test_data,
                       num_boost_round=5000,
                       early_stopping_rounds=100)

submission = pd.read_csv('../input/test.csv')
ids = submission['id'].values
submission.drop('id', inplace=True, axis=1)

x = submission.values
y = model.predict(x)

output = pd.DataFrame({'id': ids, 'target': y})
output.to_csv("submission.csv", index=False)

** RANDOM FOREST

In [0]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100, oob_score=True, random_state=123456)
rf.fit(trainX, trainY)
rf_testY = rf.predict(testX)
rf_testY